[project]
	description = opencart developement
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/huiquan
[access "refs/for/refs/*"]
	read = group user/huiquan
	push = group user/huiquan
	label-Code-Review = -2..+2 group user/huiquan
	label-Verified = -1..+1 group user/huiquan
	rebase = group user/huiquan
	removeReviewer = group user/huiquan
	submit = group user/huiquan
[access "refs/heads/*"]
	read = group user/huiquan
	create = group user/huiquan
	push = +force group user/huiquan
	pushMerge = group user/huiquan
[access "refs/tags/*"]
	push = +force group user/huiquan
	pushTag = group user/huiquan
	pushSignedTag = group user/huiquan
